.getting-started {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../../../src/assets/images/Nextvoyage.png');
    background-position: center;
    background-size: cover;
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setup {
    position: absolute;
    width: 300px;
    height: 308px;
    // left: 40px;
    // top: 261px;

    &-button { 
        width: 250px;
        height: 48px;
        border-radius: 20px;
        border-style: none;
    }
}